.searchContainer {
  height: 150px;
  background-color: rgb(230, 230, 230);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.searchContent {
  display: flex;
  margin: 0 10% 0 10%;
  justify-content: space-between;
  height: 100%;
}

.logoContainer,
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer p {
  margin: 0;
  color: black;
  font-size: 40px;
}

.input {
  border: none;
  height: 40px;
  width: 440px;
  outline: none;
  font-size: 18px; 
  padding: 0 10px 0 10px;
}

.input::placeholder{
  color: rgb(172, 172, 172);
}

.box {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 440px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 0 10px 0 10px;
  background-color: #fff;
}

.button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: #fff;
  color: rgb(167, 166, 166);
}