.flag {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.flagContainer {
  display: flex;
  align-items: center;
  height: 35px;
}