.container {
  height: 50px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10%;
  height: 100%;
}

.leftSideContainer {
  display: flex;
}

.rightSideContainer {
  display: flex;
}

.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100%;
}

.languageContainer {
  width: 160px;
  height: 100%;
  margin-left: 15px;
}

.currencyContainer {
  width: 160px;
  height: 100%;
}

.cartButtonContainer,
.favoriteButtonContainer,
.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  color: #fff;
  border-right: 1px solid grey;
}

.photo {
  height: 33px;
  width: 33px;
  background-color: #fff;
  border-radius: 50%;
}
