.navContainer {
  height: 60px;
  background-color: rgb(48, 44, 136);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.navContent{
  display: flex;
  align-items: center;
  margin: 0 10% 0 10%;
  justify-content: flex-start;
  height: 100%;
  color: #fff;

}

a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px 0 30px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}

