.searchContainer {
  height: 150px;
  background-color: rgb(249, 249, 249);
  font-size: 16px;
  font-weight: 500;
}

.searchContent {
  display: flex;
  margin: 0 10% 0 10%;
  justify-content: space-between;
  height: 100%;
}



