.productContent {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}

aside {
  display: flex;
  flex-direction: column;
}

.productListContainer {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.productListContainer select {
  width: 200px;
  height: 30px;
  margin: 0 0 30px 25px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
  color: rgb(112, 112, 112);
  outline: none;
}


.productCategoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style-type: none;
}

.searchProduct {
  width: 250px;
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.searchProduct input, .categoryFilter input {
  border: none;
  border-bottom: 1px solid rgb(192, 192, 192);
  width: 80%;
  height: 30px;
  margin-top: 5px;
}

.searchProduct input::placeholder, .categoryFilter input::placeholder{
  color: rgb(146, 146, 146);
  font-size: 16px;
}

.categoryFilter {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column; 
}

.categoryFilter p {
  margin-left: 22px;
}

.categoryFilter div {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.priceFilter{
  margin-top: 20px;
}

.priceCheckboxContainer {
  margin-left: 22px;
}

.priceCheckboxContainer div {
  margin-bottom: 15px;
}