.categoryContainer{
  height: 380px;
  /* background-color: grey; */
  margin: 0 10% 20px 10%;

}

.categoryHeading {
  font-size: 30px;
  font-weight: 300;
}

.categoryContent{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.category{
  height: 100%;
  width: 23%;
  background-color: grey;
  border-radius: 7px;

}

.clothing, .shoes, .accessories, .gadgets{
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clothing{
  background-image: url("../../../../assets/category/clothing.jpg");
}

.shoes{
  background-image: url("../../../../assets/category/shoes.jpg");
  background-size: 100%;
}

.accessories{
  background-image: url("../../../../assets/category/accessories.jpg");
  background-size: 100%;
}

.gadgets{
  background-image: url("../../../../assets/category/gadgets.jpg");
  background-size: 100%;

}


.categoryName {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin: 0 0 0 20px;
}

.amount {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin: 10px 0 20px 20px;
}